html {
  font-size: 1px;
}
// min-width는 해상도가 지정된 값 이상일 때 실행
// max-width는 해상도가 지정된 값 이하일 떄 실행
@media screen and (max-width: 768px) {
  html {
    font-size: 1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  html {
    font-size: 5px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1920px) {
 html {
   font-size: 10px;
 } 
}
.viewer {
  background-repeat: no-repeat;
  background-size: cover;
  // background-position-y: -2px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: center;
  .innerView {
    width: 62.5%;
    height: 62.5%;
    background-color: grey;
  }
  .page {
    width: 100%;
    height: 100%;
    display: -ms-flex;
	  display: -webkit-flex;
	  display: flex;
    flex: 1;
    flex-direction: row;
    .title {
      font-size: 6.5rem;
    }    
    .item1 {
      background: pink;
      flex: 1;
      display: flex;
      flex-direction: column;
      .flexBlock {
        flex: 1;
      } 
    }
    .item2 {
      background: violet;
      flex: 1.5;
      display: flex;
      flex-direction: column;
      .flexBlock {
        flex: 1;
      } 
    }
    .item3 {
      background: coral;
      flex: 1;
      display: flex;
      flex-direction: column;
      .flexBlock {
        flex: 1;
      } 
    }
  }
}
